body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  position: relative;
}

#spinButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
